#calendarDiv{
	position:absolute;
	width:176px;
	border:1px solid #669999;
	padding:0px;
	background-color: #FFF;
	font-family:arial;
	font-size:9px;
	padding-bottom:12px;
	visibility:hidden;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{
	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:1px;
}

#calendarDiv td{
	padding:3px; /*espacio entre los textos del contenido del calendario*/
	margin:0px;
	font-size:9px;
}

#calendarDiv .selectBox{
	border:1px solid #E2EBED;		
	color: #E2EBED;
	position:relative;
}
#calendarDiv .selectBoxOver{
	border:1px solid #FFF;
	background-color: #669999;
	color: #FFF;
	position:relative;
}

#calendarDiv .topBar{
	height:16px;
	padding:1px;
	background-color: #669999;


}
#calendarDiv .activeDay{	/* Active day in the calendar */
	color:#FF0000;
}
#calendarDiv .todaysDate{
	height:12px;
	line-height:10px;
	padding:2px;
	background-color: #E2EBED;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:173px;
}
#calendarDiv .monthYearPicker{
	background-color: #E2EBED;
	border:1px solid #AAAAAA;
	position:absolute;
	color: #CECF94;
	left:0px;
	top:15px;
	zIndex:1000;
	display:none;

}
#calendarDiv #monthSelect{
	width:62px;
}
#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;	
	padding:1px;
	margin:1px;	
	cursor:pointer;
}
#calendarDiv .monthYearActive{
	background-color:#669999;
	color: #E2EBED;
}

#calendarDiv td{
	text-align:right;
	cursor:pointer;
}

#calendarDiv .topBar img{
	cursor:pointer;
}
#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}