/*Relacionado con el menu de cabecera*/
#lienzo_para_dibujar{
	height: 400px;
	width: 330px;
	background-color: gray;
}
#imprimir{ 
background:-moz-linear-gradient(#0081CC 0%,#0045CC 100%);
background:-ms-linear-gradient(#0081CC 0%,#0045CC 100%); 
background:-o-linear-gradient(#0081CC 0%,#0045CC 100%); 
background:-webkit-linear-gradient(#0081CC 0%,#0045CC 100%); 
background:linear-gradient(#0081CC 0%,#0045CC 100%);
border:solid 1px #0062B8; 
border-radius:5px;
text-align:center;
padding:5px; 
color:#FFF; 
width:75px; 
} 
#imprimir:hover{
background:-moz-linear-gradient(#0045CC 0%,#0081CC 100%);
color:#FFF; 
}
#guardar{ 
background:-moz-linear-gradient(#61C361 0%,#51A451 100%);
background:-ms-linear-gradient(#61C361 0%,#51A451 100%); 
background:-o-linear-gradient(#61C361 0%,#51A451 100%); 
background:-webkit-linear-gradient(#61C361 0%,#51A451 100%); 
background:linear-gradient(#61C361 0%,#51A451 100%);
border:solid 1px #52A552; 
border-radius:5px;
text-align:center;
padding:5px; 
color:#FFF; 
width:75px; 
} 
#guardar:hover{
background:-moz-linear-gradient(#51A451 0%,#61C361 100%);
color:#FFF; 
}
#eliminar{ 
background:-moz-linear-gradient(#EC5D59 0%,#BE3730 100%);
background:-ms-linear-gradient(#EC5D591 0%,#BE3730 100%); 
background:-o-linear-gradient(#EC5D59 0%,#BE3730 100%); 
background:-webkit-linear-gradient(#EC5D59 0%,#BE3730 100%); 
background:linear-gradient(#EC5D59 0%,#BE3730 100%);
border:solid 1px #C44741; 
border-radius:5px;
text-align:center;
padding:5px; 
color:#FFF; 
width:75px; 
} 
#eliminar:hover{
background:-moz-linear-gradient(#BE3730 0%,#EC5D59 100%);
color:#FFF; 
}
#texto {
	border: 3px double #CCCCCC;
	width: 230px;
	color: #000000;
	width: 270px;
}
#texto2 {
	border: 3px double #CCCCCC;
	width: 230px;
	color: #000000;
	width: 270px;
}
#texto3 {
border: 3px double #CCCCCC;
	width: 230px;
	color: #000000;
	width: 270px;
}
#texto4 {
border: 3px double #CCCCCC;
	width: 230px;
	color: #000000;
	width: 270px;
}
#texto5 {
border: 3px double #CCCCCC;
	width: 230px;
	color: #000000;
	width: 270px;
}
#texto6{
border: 3px double #CCCCCC;
	width: 230px;
	color: #000000;
	width: 270px;
}
#texto7 {
border: 3px double #CCCCCC;
	width: 230px;
	color: #000000;
	width: 270px;
}
#texto8 {
border: 3px double #CCCCCC;
	width: 230px;
	color: #000000;
	width: 270px;
}
#texto9 {
border: 3px double #CCCCCC;
	width: 230px;
	color: #000000;
	width: 270px;
}
#texto10 {
border: 3px double #CCCCCC;
	width: 230px;
	color: #000000;
	width: 270px;
}
#texto11 {
border: 3px double #CCCCCC;
	width: 230px;
	color: #000000;
	width: 270px;
}
#cantidad{
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
	padding-left: 3px; 
}